<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>
<body >

    <!-- Navigation Bar -->

    <div style="margin-top:10px;"></div>
        <nav id="nav" class="navbar navbar-inverse">
            <div class="container-fluid">
            <ul class="nav navbar-nav">
                 <li><a href="index.html">Home</a></li>
                 <li><a href="career.html">Career</a></li>
                 <li><a id="aboutus.html">About Us</a></li>
                 <li><a id="contact">Contact Us</a></li>
           </ul>
           </div>
        </nav>

        <img src="/assets/images/contact.png" class="data" />

    <!-- contact form start's -->
    <div id="data" style="font-family:Verdana, Geneva, Tahoma, sans-serif; margin-top:80px; margin-left:350px;">
        <h1 style="margin-left:150px;"> <b> Con<font style="color:orange;">tact </font> US </b> </h1> <br/>
        
        <form class="form-horizontal" action="/address" method="POST">
            
            <div class="form-group"> <!-- Text Box 1 -->
                <label class="control-label col-sm-2" for="mobile">Name:</label>
                <div class="col-sm-4">
                    <select  id="user" name="user"> 
                        <% for(var i=0; i<obj.length ; i++){ %>
                        <option value="<%= obj[i]._id %>"> <%= obj[i].name %> </option>
                        <% } %>
                    </select>
                </div>
            </div>
                
            <div class="form-group"> <!-- Text Box 2 -->
                <label class="control-label col-sm-2" for="mobile">Address:</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="address" placeholder="Enter Your Address" name="address">
                </div>
            </div>

            <div class="form-group">    
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit"></button>
                </div>
            </div>
        </form>
    <br/>
   
      
    </div>

</body>
</html>

